@import "./settings/colors";

html {
	background-color: #2e4053 ;;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Source Code Pro', system-ui;
	padding: 1rem;
	color: white;
}

.person-header {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;

	@media only screen and (max-width: 600px) {
		flex-direction: column;
	}
}

.image-circled {
	max-width: 100px;
	border-radius: 3rem;
}

.padding {
	padding: 3rem;

	&--large {
		padding-left: 1rem;
		padding-right: 2rem;
	}
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		margin-left: 5px;
		margin-right: 5px;
		padding: 1.25rem;
		-moz-border-radius: 3rem;
		border-radius: 3rem;
		-webkit-transition: -webkit-transform 0.2s ease-in-out;
		transition: 0.1s ease-in-out;

		&:hover {
			background-color: white;
			color: black;
			cursor: pointer;
		}
	}
}

.glass-effect {
	padding: 2rem;
	border-radius: 3rem;
	backdrop-filter: blur(6px);
	background-color: rgba(0,0,0,0.5);

	& + & {
		margin-top: 3rem;
	}

	@media only screen and (max-width: 600px) {
		padding: 0;
		border-radius: 0;
		background-color: unset;
	}
}

.mergin-left-medium--desktop {
	margin-left: 2rem;

	@media only screen and (max-width: 600px) {
		margin-left: 0;
	}
}

.mergin-medium--desktop {
	margin: 2rem;

	@media only screen and (max-width: 600px) {
		margin: 0;
	}
}